<!DOCTYPE html>
<html lang="es">

{% include 'base.html' %}

{% block content %}
<body>
    <h5>Complete la información requerida de Donantes Voluntarios:</h5>
    <form method="POST">
        <section>
            <table>
                {{formaDonanteAInscribir}}
            </table>
            <button type="submit" class="button">Guardar</button>
            <button type="reset" class="button">Limpiar</button>
            <br/>
            {% csrf_token %}
            <br/>
            <a href="javascript:history.go(-1)">Volver</a>
        </section>
    </form>
</body>
{% endblock content %}

{% include 'footer.html' %}
</html>