{% extends "base.html" %}

{% load i18n %}

{% block title %}ContàConmigo{% endblock %}


{% block content %}
        <p>Este sitio fue creado con motivo de presentarlo como proyecto final de la carrera Ing. de Sistemas de Información, Facultad U.T.N Regional Rosario.</p>
        <p>El objetivo de este sitio es el de conectar a pacientes de instituciones de salud que requieren donantes de sangre con aquellas personas que
        realizan esta acción desinteresada en forma periódica o bien, para aquellos que desean realizarlo a futuro.</p>
        <p>En este sitio encontrarás un listado con todos aquellos pacientes que solicitan de la colaboración de donantes junto a la información de a institución que
        solicita dicha reposición</p>
        <p>Cualquier posible donante puede aplicar a algún paciente específico ya sea por afinidad, o por ubicación geográfica.</p>
{% endblock %}
